@use '../Globals/variables' as v;
@use '../Globals/mixins' as m;
.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, v.$color-primary-light, v.$color-primary-dark);
    @include m.respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba(v.$color-white, .9) 0%, 
                                    rgba(v.$color-white, .9) 50%, 
                                    transparent 50%), 
                                    url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(v.$color-black, .2);
    background-repeat: no-repeat;

    @include m.respond(tab-land) {
        background-image: linear-gradient(105deg, 
        rgba(v.$color-white, .9) 0%, 
        rgba(v.$color-white, .9) 60%, 
        transparent 50%), 
        url(../img/nat-10.jpg);
    }
    @include m.respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba(v.$color-white, .9) 0%, 
        rgba(v.$color-white, .9) 100%),
        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include m.respond(tab-land) {
            width: 65%;
        }
        @include m.respond(tab-port) {
            width: 100%;
        }
    }
    
}